body {
  background-image:
	repeating-linear-gradient(
		90deg,
		firebrick,
		firebrick 20px,
		beige 0,
		beige 25px,
		forestgreen 0,
		forestgreen 35px,
		gold 0,
		gold 40px,
		crimson 0,
		crimson 60px
	),
	repeating-linear-gradient(
		firebrick,
		firebrick 20px,
		beige 0,
		beige 25px,
		forestgreen 0,
		forestgreen 35px,
		gold 0,
		gold 40px,
		crimson 0,
		crimson 60px
	);
background-blend-mode: multiply;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.sentence {
  font-size: 40px;
  margin-left: 15%;
	margin-right: 15%;
	height: 35vh;
  text-align: center;
  color: #910000;
  background-color: #E9EFB9;
  padding: 15px;
	border-radius: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 20px 8px rgb(236, 39, 39);
}

.btn {
  margin-top: 7vh;
  padding: 18px;
  font-size: 1.5em;
  color: #E6F3B3;
  border-radius: 15px;
  background-color: #007D00;
  border: none;
}

.btn:hover {
  background-color: #008D07;
}

#message {
	padding: 10px;
}

.btn:focus {
	outline: none;
}

/* Media query to display properly on mobile devices */
@media (max-width: 768px) {
	.sentence {
		flex-direction: column;
		font-size: 25px;
		height: 50vh;
	}
}